body{
    background-color: #FBFBFB;
}

.wrapper {
    background-color: #EFEFEF;
    margin: 0 auto;
    
    width: 95%;
    height: 95%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 100px;
    grid-gap: 5px;
    
    text-align: center;
    border: 2px solid #222222;
    padding: 1%;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;

    text-align: center;
    display: inline-block;
}

.main {
    grid-column: 2 / 3;
    grid-row: 3;
}

.button {
    background-color: #444444;
    color: white;
    padding: 16px 52px;
    text-align: center;
    font-size: 20px;
    margin: 12px 12px;
    opacity: 0.6;
    transition: 0.1s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;  
    border: 2px solid #222222;
}

.button:hover {
  border-radius: 50%;
}

.buttonDisabled {
    background-color: #888888;
    color: #dddddd;
    padding: 12px 46px;
    text-align: center;
    font-size: 18px;
    margin: 12px 12px;
    opacity: 0.6;
    transition: 0.2s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;  
    border: 2px solid #555555;
    border-radius: 50%;
}